<ion-view view-title="About me">
    <ion-content>
        <div class="about">
            <div class="content">
                <div class="mani"></div>
                <blockquote>
                    Design is not just what it looks like and feels like. Design is how it works.
                    <p>- Steve Jobs</p>
                </blockquote>
                <div class="description">
                    <p>
                        Smiles is a e-charity application aimed at making lives simple in charity and donations realm
                    </p>
                    <br/>
                    <p>
                        <a ui-sref="app.contactme">Contact me</a> for more information.
                    </p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
