<ion-view view-title="About me">
    <ion-content>
        <div class="about">
            <div class="overlay"></div>
            <div class="content">
                <div class="mani"></div>
                <blockquote>
                    Design is not just what it looks like and feels like. Design is how it works.
                    <p>- Steve Jobs</p>
                </blockquote>
                <div class="description">
                    <p>
                        I'm <span class="highlight">Mani</span> and I'm here to provide web solutions for a wide range of industrial problems. My expertise include <span class="blink">Web applications</span>, <span class="blink">Mobile apps</span> and <span class="blink">Software consulting</span>. I've <span class="blink">3+ years</span> of industry experience which doesn't give me an oppurtunity to just solve problems but to give solutions. Solutions which evolves with time.
                    </p>
                    <br/>
                    <p>
                        <a ui-sref="app.contactme">Contact me</a> for more information.
                    </p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
