<!-- <ion-tabs class="">

    <ion-tab title="Wishlist Items" href="#/app/activity/wishlist">
        <ion-nav-view name="wishlisttab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Pickup Items" href="#/app/activity/pickup">
        <ion-nav-view name="pickuptab"></ion-nav-view>
    </ion-tab>

</ion-tabs> -->

<div class="tabs custom-tabs">
    <a class="tab-item custom-tab-item {{activeTabId == 0 ? 'active' : ''}}" menu-close href="#/app/activity/wishlist" ng-click="changeActiveTabTo(0)">
        <span>Wishlist Items</span>
    </a>
    <a class="tab-item custom-tab-item {{activeTabId == 1 ? 'active' : ''}}" menu-close href="#/app/activity/pickup" ng-click="changeActiveTabTo(1)">
        <span>Pickup Items</span>
    </a>
</div>
<ion-nav-view name="activityTab"></ion-nav-view>