<ion-view view-title="Contact Me">
    <ion-content>
        <div class="contact">
            <div class="overlay"></div>
            <div class="content">
                <h3>Mani</h3>
                <p>Developer, <strong>By heart and will</strong></p>
                <ul class="social">
                    <li class="general"><a href="mailto:im.manikanta@gmail.com"><i class="icon ion-email"></i></a></li>
                    <li class="facebook"><a href="https://goo.gl/2P7Khf"><i class="icon ion-social-facebook"></i></a></li>
                    <li class="google"><a href="https://goo.gl/5YccaJ"><i class="icon ion-social-googleplus"></i></a></li>
                    <li class="twitter"><a href="https://goo.gl/9nOgi5"><i class="icon ion-social-twitter"></i></a></li>
                    <li class="general"><a href="tel:+917418271862"><i class="icon ion-ios-telephone"></i></a></li>
                </ul>
            </div>
        </div>
    </ion-content>
</ion-view>
