<ion-view view-title="Activities">
    <ion-content>
        <div class="dashboard">
            <div class="list card" ng-repeat="activity in data.activities" ui-sref="app.dashboard.activity({activityId: '1'})">
                <div class="item item-button-right">
                    <h2>{{activity.ACTIVITY_NAME}}</h2>
                    <p>{{activity.ORPHANAGE_NAME}}</p>
                    <button class="button button-positive">
                      <i class="icon ion-card"></i>
                    </button>
                </div>
                <div class="item item-image">
                    <img src="{{activity.IMAGE}}">
                </div>
                <div class="item">
                    <a class="button dark">
                        Donation End Date : {{activity.VISIT_DATE}}
                    </a>
<!--                 <br>
                     <button class="button button-positive">
                      Donations open
                    </button> -->
                    <br>
                    <div class="button dark">Donated Amount : Rs.3000/Rs.4500</div><br>
                    <div class="progressBar green"></div>
                    <div class="progressBar grey"></div>                    
                </div>

            </div>
        </div>
    </ion-content>
</ion-view>
