<ion-view view-title="Activities">
    <ion-content>
        <div class="dashboard">
            <div class="a-card" ng-repeat="activity in data.activities"> 
<!--             ui-sref="app.activity({activityId: activity.wishlistId})" -->
            
                <div class="header">
                    <img ng-src="{{activity.img}}">
                    <div class="overlay"></div>
                    <div class="name">{{activity.activityName}}</div>
                    <div class="pay" ng-click="control.showPopup()"></div>
                </div>
                <div class="description">
                    <div class="row row-center">
                        <div class="col col-25">
                            <div class="pig-icon">
                                <div class="completed" ng-style="{ right: activity.percentageRemaining }"></div>
                                <div class="number">{{ activity.percentageDone }}</div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="money">
                                &#8377; {{ activity.contributed }} / &#8377; {{ activity.total }}
                            </div>
                            <div class="end-date">
                                Donation End Date: {{ activity.visit }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col loc">
                            <i class="ionicons ion-location"></i>&nbsp;{{ activity.orphanageName }}
                        </div>
                        <div class="col-25 btn">OPEN</div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
