<ion-view view-title="Management">
    <ion-content>
        <div class="management">
            <div class="user-selection">
                <div class="list search">
                    <div class="item item-input-inset">
                        <label class="item-input-wrapper">
                            <input type="text" placeholder="Username" ng-model="search.userName" ng-change="filterUsers(search.userName)">
                        </label>
                        <button class="button icon ion-ios-search button-small" ng-click="filterUsers(search.userName)">
                            Search
                        </button>
                    </div>
                </div>
                <ul class="list">
                    <li class="item user" ng-repeat="user in users" ng-click="selectUser(user)">
                        {{ user.userName }}
                    </li>
                </ul>
            </div>
            <div class="transactions">
                <div class="tr-card" ng-repeat="transaction in transactions">
                    <div class="heading">
                        <div class="row row-center">
                            <div class="col col-25">
                                <img src="../img/profile.png">
                            </div>
                            <div class="col">
                                <h2>{{ transaction.itemName}}</h2>
                            </div>
                            <div class="col">
                                <div class="qty">{{ transaction.qty }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="description">
                        {{ transaction.itemDesc }}
                    </div>
                    <div class="actions">
                        <button class="button button-balanced take">Accept</button>
                        <button class="button button-assertive reject">Reject</button>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
