<ion-view view-title="Orphanages">
    <ion-content>
        <div class="orphanages">
            <div class="orphanage" ng-repeat="orphanage in orphanages">
                <div class="name">{{ orphanage.name }}</div>
                <div class="phone">{{ orphanage.phone }}</div>
                <div class="address">{{ orphange.address }}</div>
                <div class="email">{{ orphanage.email }}</div>
                <div class="description">{{ orphanage.description }}</div>
                <div class="image">{{ orphanage.img }}</div>
            </div>
        </div>
    </ion-content>
</ion-view>
