<ion-view view-title="Orphanages">
    <ion-content>
        <div class="orphanages">
            <div class="list card">
                <div class="item item-avatar">
                    <img src="../img/ionic.png">
                    <h2>Pretty Hate Machine</h2>
                    <p>Nine Inch Nails</p>
                </div>
                <div class="item item-image">
                    <img src="../img/ionic.png">
                </div>
                <a class="item item-icon-left assertive" href="#">
                    <i class="icon ion-music-note"></i> Start listening
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
