$theme-color: #18bc9c;
$theme-border-color: #676767;
$box-shadow: #989898;
$transparent-background: rgba(255, 255, 255, 0);
$transparent-black-background: rgba(0, 0, 0, 0.3);
$theme-card-width: 200px;
$theme-card-height: 200px;

/* SASS / Social Media Brand Colors */

$twitter: #00aced;
$facebook: #3b5998;
$googleplus: #dd4b39;
$general: #1b926c;
$font-color-white: #FFF;
$font-color-black: #5e5e5e;
$font-theme-color: #006551;
$caption-background: #2c3f52;
$caption-special: #ed4e6e;
$quote-border: #989898;
$font-family: "Lato", "sans-serif";
$font-montserrat: "Montserrat", "sans-serif";
@mixin box-shadow($horizontal: 0px, $vertical: 1px, $blur: 2px, $color: #CCC) {
    -webkit-box-shadow: $horizontal $vertical $blur $color;
    -moz-box-shadow: $horizontal $vertical $blur $color;
    box-shadow: $horizontal $vertical $blur $color;
}

@font-face {
    font-family: Montserrat;
    src: url(../assets/fonts/Montserrat-Regular.otf);
}

@font-face {
    font-family: Lato;
    src: url(../assets/fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: Lato;
    src: url(../assets/fonts/Lato-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: Lato;
    src: url(../assets/fonts/Lato-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Lato;
    src: url(../assets/fonts/Lato-Black.ttf);
    font-weight: 900;
}

@font-face {
    font-family: Lato;
    src: url(../assets/fonts/Lato-LightItalic.ttf);
    font-weight: 300;
    font-style: italic;
}

body.ionic {
    font-family: $font-family;
    color: $font-color-white;
    input,
    input::-webkit-placeholder,
    textarea {
        font-family: $font-family;
        font-weight: normal;
    }
}

.bar {
    background: $theme-color !important;
    font-family: $font-family;
    .button {
        color: $font-color-white !important;
    }
    .title {
        color: $font-color-white !important;
    }
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $transparent-black-background;
}

.outer-wrapper {
    position: relative;
    font-family: $font-family;
    min-height: calc(100vh - 44px);
    background: $theme-color url('../img/green.jpg') no-repeat;
    background-size: cover;
}

.pane {
    background-color: #101A1B !important;
}

.img {
    width: $theme-card-width;
    height: $theme-card-height;
    // background-size: cover;
    margin: 12px auto;
    border: 1px solid $theme-border-color;
    border-radius: 50%;
    -webkit-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.75);
}
