* {
    font-family: $font-family;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family;
    font-weight: bold;
}

label,
input,
select,
a,
button,
dl,
dt,
dd {
    font-family: $font-family;
    font-weight: 300;
}

dt {
    font-weight: normal;
}

body.ionic {
    font-family: $font-family;
    color: $theme-white;
    input,
    input::-webkit-placeholder,
    textarea {
        font-family: $font-family;
        font-weight: normal;
    }
}

.bar {
    background: $theme-color !important;
    font-family: $font-family;
    .button {
        color: $theme-white !important;
    }
    .title {
        color: $theme-white !important;
    }
}

.outer-wrapper {
    position: relative;
    font-family: $font-family;
    min-height: calc(100vh - 44px);
    background: linear-gradient(rgba(120, 120, 120, 0.6), rgba(70, 70, 70, 0.5)), url('../img/login-background.jpg') no-repeat;
    background-position: 50%;
    background-size: cover;
}

.pane {
    background-color: #101A1B !important;
}

.img {
    width: $theme-card-width;
    height: $theme-card-height;
    // background-size: cover;
    margin: 12px auto;
    border: 1px solid $theme-border-color;
    border-radius: 50%;
    -webkit-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.75);
}

.custom-tabs {
    background: $theme-color !important;
    color: $theme-white !important;
    padding: 0 !important;
    bottom: initial;
    top: 44px;
    @include box-shadow(0px,
    2px,
    5px,
    rgba(0, 0, 0, 0.6));
    .custom-tab-item {
        max-width: none;
        font-size: 20px;
        opacity: 1;
        position: relative;
        &.active {
            &:after {
                border-color: $blue;
            }
        }
        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            border: 2px solid $theme-white;
        }
    }
}

.popup-container {
    .popup {
        .popup-body {
            color: $theme-black;
        }
    }
}
