ion-side-menu {
    // background: linear-gradient(rgba(97, 98, 116, .7), rgba(97, 98, 116, .5)), url("../img/Kids-Smiling.png");
    background: rgba(97, 98, 116, .7);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(rgba(97, 98, 116, .7), rgba(97, 98, 116, .5)), url("../img/Kids-Smiling.png");
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(rgba(97, 98, 116, .7), rgba(97, 98, 116, .5)), url("../img/Kids-Smiling.png");
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-position: center center;
    .avatar {
        @extend .img;
        background: #444 url('../img/profile.png');
        background-size: cover;
        width: 100px;
        height: 100px;
    }
    .menu-list {
        .list {
            margin-top: 20px;
        }
        .item {
            background-color: $transparent-background;
            border: $theme-border-color;
            border-bottom-color: $font-theme-color;
            .item-content {
                background-color: rgba(255, 255, 255, 0.5);
                padding: 15px;
                color: $font-theme-color;
                i {
                    padding-right: 10px;
                    font-size: 1.5em;
                    color: $font-theme-color;
                }
                &:active {
                    background-color: $transparent-black-background;
                }
            }
        }
    }
}

.buttons {
    .title {
        font-weight: bold;
    }
}
