$theme-color: #18bc9c;
$theme-border-color: #676767;
$theme-black: #000;
$theme-white: #FFF;

$box-shadow: #989898;

$transparent-background: rgba(255, 255, 255, 0);
$transparent-black-background: rgba(0, 0, 0, 0.3);

$dark-gray: #535353;
$light-gray: #C7C7C7;
$blue: #4356B2;

$theme-card-width: 200px;
$theme-card-height: 200px;


/* SASS / Social Media Brand Colors */
$twitter: #00aced;
$facebook: #3b5998;
$googleplus: #dd4b39;
$general: #1b926c;

$font-family: "SFUI", "sans-serif";