/*Dashboard*/
.list.card > .item{
	position: relative;
}
.progressBar{
	height: 10px;
}
.progressBar.green{
	background: #16A085;
	float: left;
	width: 80%;
}
.progressBar.grey{
	background: gray;
}
.button.dark{
	background-color: transparent;
}
.button.button-positive {
    border-color: transparent;
    background-color: #16A085;
    color: #fff;
}
.clearfix{
	clear:both;
}
.paymentHeader{
	position: relative;
}
.paymentIcon{
	background: url("../img/CardinUse-96.png") #16A085;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    position: absolute;
    top: -6px;
    left: -12px;
    background-size: contain;
    box-shadow: 0 2px 4px gray;
}
.paymentHeading{
    background-color: #16A085;
    text-align: center;
    padding: 12px;
    color: white;
    box-shadow: 0 2px 4px gray;
}
