/* SASS / Social Media Brand Colors */
@font-face {
  font-family: SFUI;
  src: url(../assets/fonts/SF-UI/SF-UI-Text-Regular.otf); }
@font-face {
  font-family: SFUI;
  src: url(../assets/fonts/SF-UI/SF-UI-Text-Light.otf);
  font-weight: 300; }
@font-face {
  font-family: SFUI;
  src: url(../assets/fonts/SF-UI/SF-UI-Text-Bold.otf);
  font-weight: 700; }
@font-face {
  font-family: SFUI;
  src: url(../assets/fonts/SF-UI/SF-UI-Text-Heavy.otf);
  font-weight: 900; }
@font-face {
  font-family: SFUI;
  src: url(../assets/fonts/SF-UI/SF-UI-Text-LightItalic.otf);
  font-weight: 300;
  font-style: italic; }
body.ionic {
  font-family: "SFUI", "sans-serif";
  color: #FFF; }
  body.ionic input,
  body.ionic input::-webkit-placeholder,
  body.ionic textarea {
    font-family: "SFUI", "sans-serif";
    font-weight: normal; }

.bar {
  background: #18bc9c !important;
  font-family: "SFUI", "sans-serif"; }
  .bar .button {
    color: #FFF !important; }
  .bar .title {
    color: #FFF !important; }

.outer-wrapper, .dashboard, .orphanages, .gallery, .management, .about {
  position: relative;
  font-family: "SFUI", "sans-serif";
  min-height: calc(100vh - 44px);
  background: linear-gradient(rgba(120, 120, 120, 0.6), rgba(70, 70, 70, 0.5)), url("../img/login-background.jpg") no-repeat;
  background-position: 50%;
  background-size: cover; }

.pane {
  background-color: #101A1B !important; }

.img, ion-side-menu .avatar {
  width: 200px;
  height: 200px;
  margin: 12px auto;
  border: 1px solid #676767;
  border-radius: 50%;
  -webkit-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.75); }

.login {
  font-family: "SFUI", "sans-serif";
  background: #5E5E5E url("../img/login-background.jpg") no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative;
  min-height: 100vh; }
  .login .form {
    padding: 20px 20px 0px; }
    .login .form input {
      color: #FFF; }
  .login .error {
    opacity: 0;
    -webkit-transition: opacity .2s linear;
    transition: opacity .2s linear;
    font-weight: bold;
    color: red;
    text-align: center;
    padding: 5px 0px; }
  .login .make_visible {
    opacity: 1 !important; }

ion-side-menu {
  background: rgba(97, 98, 116, 0.7);
  /* fallback for old browsers */
  background: -webkit-linear-gradient(rgba(97, 98, 116, 0.7), rgba(97, 98, 116, 0.5)), url("../img/Kids-Smiling.png");
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(rgba(97, 98, 116, 0.7), rgba(97, 98, 116, 0.5)), url("../img/Kids-Smiling.png");
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-position: center center; }
  ion-side-menu .avatar {
    background: #444 url("../img/profile.png");
    background-size: cover;
    width: 100px;
    height: 100px; }
  ion-side-menu .menu-list .list {
    margin-top: 20px; }
  ion-side-menu .menu-list .item {
    background-color: rgba(255, 255, 255, 0);
    border: #676767;
    border-bottom-color: #006551; }
    ion-side-menu .menu-list .item .item-content {
      background-color: rgba(255, 255, 255, 0.5);
      padding: 15px;
      color: #006551; }
      ion-side-menu .menu-list .item .item-content i {
        padding-right: 10px;
        font-size: 1.5em;
        color: #006551; }
      ion-side-menu .menu-list .item .item-content:active {
        background-color: rgba(0, 0, 0, 0.3); }

.buttons .title {
  font-weight: bold; }

.orphanages {
  overflow: hidden; }
  .orphanages .orphanage {
    margin: 10px 12px; }
    .orphanages .orphanage img {
      width: 100%; }
    .orphanages .orphanage .details {
      background: #FFF;
      padding: 10px;
      margin-top: -5px;
      color: #5e5e5e; }
      .orphanages .orphanage .details .actions {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 10px 0px; }
        .orphanages .orphanage .details .actions .acton, .orphanages .orphanage .details .actions .phone, .orphanages .orphanage .details .actions .email, .orphanages .orphanage .details .actions .address {
          width: 75px;
          padding: 20px;
          text-align: center;
          background: rgba(180, 180, 180, 0.6);
          border: 1px solid #b4b4b4;
          border-radius: 50%;
          transition: all .3s ease-out;
          -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);
          -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6); }
          .orphanages .orphanage .details .actions .acton:active, .orphanages .orphanage .details .actions .phone:active, .orphanages .orphanage .details .actions .email:active, .orphanages .orphanage .details .actions .address:active {
            transform: translateY(5px); }
        .orphanages .orphanage .details .actions .phone i {
          font-size: 32px;
          color: #1b926c; }
        .orphanages .orphanage .details .actions .email i {
          font-size: 32px;
          color: #00aced; }
        .orphanages .orphanage .details .actions .address i {
          font-size: 32px;
          color: #BF1B39; }

.management .user-selection .search {
  margin-bottom: 0; }
.management .user-selection .list .user {
  text-transform: capitalize; }

.about {
  color: #FFF; }

/*# sourceMappingURL=style.css.map */
